body{
   text-align: center;
}
.btn{
  border: solid 1px black;
  width: 100px;
  height: 100px;
  display: inline;
  font-size: 30px;
  color: #EAE0C8	;
  background-color: #1D3461;
}
h1{
  font-size: 60px;
  font-family: Comic Sans MS, Comic Sans, cursive;
}
